client management/Client_validator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="validEmail">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="validPhone">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}-[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ArrayOfClient">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Client" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="firstName"/>
							<xs:element type="xs:string" name="lastName"/>
							<xs:element type="validPhone" name="phoneNumber"/>
							<xs:element type="validEmail" name="emailAddress"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
